.inputSelect {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    border-right: 16px solid transparent;
    width: 300px;
}
.inputSelect__wrapper {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 40px;
}
